RewriteEngine on

# about
RewriteRule ^about / [R=301,NC,L]

# v2 sections
RewriteRule ^(articles|resources|portfolio)(/[\w\d\-]+)? http://v2.desandro.com/$1$2  [R=301,NC,L]

# Masonry docs redirects
RewriteRule ^resources/jquery-masonry/docs/(infinite-scroll|basic\-single\-column|basic\-multi\-column|tumblelog|infinite-scroll|animating\-jquery|animating\-css\-transitions).html$ http://masonry.desandro.com/demos/$1.html [R=301,NC,L]
Redirect 301 /resources/jquery-masonry/docs/appending.html http://masonry.desandro.com/demos/adding-items.html
RewriteRule ^resources/jquery-masonry(\/|\/index\.html)?$ http://masonry.desandro.com/ [R=301,NC,L]

# old close pixelate
RewriteRule ^resources/close-pixelate http://close-pixelate.desandro.com [R=301,NC,L]
