---
sections:
  - title: Projects
    items:
      - title: Masonry
        link: http://masonry.desandro.com
      - title: Isotope
        link: http://isotope.metafizzy.co
      - title: Close Pixelate
        link: http://close-pixelate.desandro.com
      - title: Vanilla Masonry
        link: http://vanilla-masonry.desandro.com
      - title: Windex
        link: http://desandro.com/demo/of-windex/
      - title: Neo Vision
        link: https://chrome.google.com/webstore/detail/lcckpjpfpmnojpkhlnekhclcfegepaij
      - title: v2 Articles
        link: http://v2.desandro.com/articles

  - title: Writing
    items:
      - title: Intro to CSS 3D Transforms
        link: http://desandro.github.com/3dtransforms/
      - title: ZUI Site Riot
        link: http://desandro.github.com/zui-site-riot/

  - title: Blogs
    items:
      - title: Smallblog
        link: http://smallblog.desandro.com/
      - title: dropshado.ws
        link: http://dropshado.ws
      - title: Metafizzy
        link: http://metafizzy.co/blog

  - title: Speaking
    items:
      - title: Open source ain’t free
        link: http://desandro.github.com/open-source-aint-free
      - title: Touchy Feely Development
        link: http://desandro.github.com/touch-feely-dev
      - title: nclud.com front-end dev
        link: http://desandro.github.com/nclud-v3-talk/
      - title: 'Mobile Safari: Bring your machete'
        link: http://desandro.github.com/mobile-safari-machete
      - title: Motion/Emotion
        link: http://desandro.github.com/motion-emotion

  - title: Web presence
    items:
      - title: Twitter
        link: http://twitter.com/desandro
      - title: GitHub
        link: http://github.com/desandro
      - title: Flickr
        link: http://flickr.com/photos/nemoorange/
      - title: Delicious
        link: http://delicious.com/desandro
      - title: Tumblr
        link: http://desandro.tumblr.com
      - title: Strava
        link: http://app.strava.com/athletes/210990
      - title: jsFiddle
        link: http://jsfiddle.net/user/desandro/
      - title: Vimeo
        link: http://vimeo.com/desandro
      - title: Readernaut
        link: http://readernaut.com/desandro/
      - title: Fontstruct
        link: http://fontstruct.fontshop.com/fontstructors/nemoorange
      - title: StackOverflow
        link: http://stackoverflow.com/users/182183/desandro

  - title: Featured elsewhere
    items:
      - title: ShopTalk Show
        link: http://shoptalkshow.com/episodes/024-with-david-desandro/
      - title: 'Unmatched Style Chat Session'
        link: http://unmatchedstyle.com/news/chat-session-david-desandro.php
      - title: '.net Awards 2011 - Site of the Year'
        link: http://www.netmagazine.com/features/net-awards-2011-winners
      - title: 'DaBrook Web Education Podcast'
        link: http://dabrook.org/required-listening/episode-34-dave-flippin-desandro
      - title: 'ADCMW Fresh Face'
        link: http://fullbleed.adcmw.org/articles/fresh-face-david-desandro/

---
<!doctype html class="no-js">
<html>
<head>
  <meta charset="utf-8">

  <!-- Thanks for taking a look :)
    Read all about it: https://github.com/desandro/v3.desandro.com -->

  <title>David DeSandro</title>

  <meta name="viewport" content="width=device-width" />

  <link href="style.css" rel="stylesheet" />

  <script src="js/modernizr.min.js"></script>

  <script src="/mint/?js"></script>

</head>
<body>

<div id="intro">
  <img src="img/david-desandro-smiling.jpg" alt="David DeSandro" />
  <h1 class="split">David DeSandro</h1>
  <p class="split">Web designer at Twitter</p>
  <p class="split">New York City</p>
  <p class="credo copy split">Being creative and making things keeps me happy</p>
</div>

{% for section in page.sections %}
  <section>
    <h2 class="split">{{ section.title }}</h2>
    <ul>
      {% for item in section.items %}
        <li><a class="split" href="{{ item.link }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}

<section id="contact">
  <h2 class="split">Contact</h2>
  <div class="copy">
    <p><span>I am happily employed full-time at Twitter and therefore not available for freelance projects.</span></p>

    <p>
      <strong><span>Trouble with Masonry or Isotope?</span></strong>
      <span>Sorry, but I am not available for personal support requests. Any support requests will be merrily deleted and go unresponded. Hey, I am just one guy and cannot debug everybody’s code ;)</span>
    </p>
  </div>
  <p><a href="#" id="email" class="split">Got it. What’s the email?</a></p>
</section>

<script src="js/scripts-all.120729142431.js"></script>

<script>
  var _gaq = [['_setAccount', 'UA-592624-3'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  })(document, 'script');
</script>

</body>
</html>
