/* remove margin and padding */

body,
h1, h2, h3, h4, h5, h6,
ul, ol, li, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'futura-pt', "jubilat", georgia, serif;
  line-height: 1.1;
  padding: 0.5em;
  background: #E80;
  color: #FFF;
  color: #810;
  max-width: 600px;
  font-weight: 500;
  margin: 0 auto;
}

body, h1, h2 {
  font-size: 28px;
}

a {
  color: white;
  text-decoration: none;
/*  -webkit-transition: padding-left 0.6s;*/
/*  display: inline-block;*/
}

a:hover {
/*  -webkit-transform: translateX(1.0em);*/
/*  padding-left: 0.75em;*/
/*  -webkit-transition-duration: 0.2s;*/
}


h1, h2 {
  font-weight: 700;
}


h2 {
  margin-top: 1.0em;
  font-style: italic;
  font-size: 0.8;
}


h1, h2, p, li {
  padding: 0.1em 0;
}

li {
  list-style: none;
  font-weight: 700;
/*  -webkit-transition: -webkit-transform 0.4s;*/
}

.word, .char {
  display: inline-block;
}


.char {
  position: relative;
}


/* desktop sizing */
@media screen and (min-width: 480px) {

  body {
    padding: 1.0em;
  }

  body, h1, h2 {
    font-size: 32px;
  }


}

