/* remove margin and padding */

body,
h1, h2, h3, h4, h5, h6,
ul, ol, li, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'futura-pt', Futura, sans-serif;
  line-height: 1.1;
  padding: 0.5em;
  background: #E80;
  color: #FFF;
  color: #810;
  max-width: 640px;
  font-weight: 500;
  margin: 0 auto;
}

/* fade in content when fonts are ready */
.js body {
  opacity: 0;
  -webkit-transition: opacity 0.8s;
     -moz-transition: opacity 0.8s;
      -ms-transition: opacity 0.8s;
       -o-transition: opacity 0.8s;
          transition: opacity 0.8s;
}

.js.wf-inactive body,
.js.wf-active body {
  opacity: 1;
}


body, h1, h2 {
  font-size: 26px;
}

a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
}

#intro img {
  width: 140px;
  float: right;
  border-radius: 10px;
  margin: 0 0 10px 10px;
}


h1, h2 {
  font-weight: 700;
}


h2 {
  margin-top: 1.0em;
  font-style: italic;
}


h1, h2, p, li {
  padding: 0.1em 0;
}

li {
  list-style: none;
  font-weight: 700;
}

.word, .char {
  display: inline-block;
}


.char {
  position: relative;
}


.credo { font-style: italic; }

.copy {
  font-size: 20px;
}

#contact p {
  margin-bottom: 0.8em;
}

/* desktop sizing */
@media screen and (min-width: 600px) {

  body {
    padding: 1.0em;
  }

  body, h1, h2 {
    font-size: 32px;
  }

  #intro img {
    width: 200px;
  }

  .copy { font-size: 28px; }

}

